/* Base dropzone styles */
.dropzone {
    position: relative;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    min-height: 150px;
    min-width: 200px;
    border: 1px dashed #9ca3af; /* border-gray-400 */
    transition: border-color 0.2s ease-in-out;
  }
  
  /* Image preview */
  .dropzoneImage {
    border: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #e2e8f0; /* bg-slate-200 */
    border-radius: 0.375rem;
  }
  
  /* Active state */
  .dropzoneActive {
    border-width: 2px;
  }
  
  /* Disabled state */
  .dropzoneDisabled {
    background-color: #e5e7eb; /* bg-gray-200 */
    border-color: #d1d5db; /* border-gray-300 */
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }
  
  /* Accept & reject states */
  .dropzoneAccept {
    border-color: #3b82f6; /* border-blue-500 */
    background-color: rgba(59, 130, 246, 0.1); /* bg-opacity-10 */
  }
  
  .dropzoneReject {
    border-color: #dc2626; /* border-red-700 */
    background-color: rgba(220, 38, 38, 0.1); /* bg-opacity-10 */
  }
  
  /* Image preview styles */
  .imagePreview {
    height: 100%;
    width: 100%;
    border-radius: 0.375rem;
    object-fit: cover;
  }
  
  /* Upload icon styles */
  .uploadInfo {
    text-align: center;
    font-size: 0.875rem;
    color: #9ca3af; /* text-gray-400 */
  }
  
  .uploadButton {
    margin-top: 0.75rem;
  }
  
  .removeIconWrapper {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    transform: translate(25%, -25%);
  }
  
  .removeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 1.25rem;
    border: 1px solid #6b7280; /* border-gray-500 */
    background-color: white;
    border-radius: 0.375rem;
    transition: height 0.3s, width 0.3s;
  }
  
  .removeIcon:hover {
    height: 1.5rem;
    width: 1.5rem;
  }
  